version: '3.8'
services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: medical_warehouse
      POSTGRES_USER: user
      POSTGRES_PASSWORD: ${PG_PASSWORD}  # from .env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
